/*container for making a post*/

.mk-pt-cont {
    display: table;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 25px;
}

/* navbar style */

.nav-tabs {
    padding: 20px;
    padding-bottom: 0;
    background: #e23636;
    color: black;
    border-bottom: 1px solid #dee2e6;
}

a {
    color: inherit;
}

a:hover {
    color: white;
}

/*containter text for making a post*/

.mk-pt-txt-cont {
    padding: 8px;
    background-color: black;
    color: white;
    height: auto;
    text-align: left;
}

/*make post form container*/

.mk-pt-in-cont {
    padding: 10px;
    width: 600px;
}

/*input field*/

input {
    background: #518cca;
    border: 1px solid black;
    width: 350px;
    color: white;
}

/*submit button*/

#submit {
    background-color: black;
    color: white;
    width: 100px;
    float: right;
    margin-top: 0;
    margin: 10px;
}

/*news container*/

.nw-ct {
    margin: 15px;
    border: 1px solid black;
    background-color: #518cca;
}

/*box containers in news*/

.bx {
    padding: 10px;
    border: 1px solid #518cca;
    margin: 5px;
    background-color: white;
}


/*news image*/

.bx-img {
    text-align: center;
    margin: 2px;
    height: 120px;
    width: 120px;
}


/*all h1*/

h1 {
    font-size: 14pt;
}
